<div class="row contenedor-principal">
  <div class="col-2 side-bar">
    <app-nav-bar></app-nav-bar>
  </div>
  <div class="col-10 contenedor-secundario">
    <div class="row">
      <span>LISTA DE CATEGORIAS</span>
    </div>
    <div class="row">
      <a routerLink="/admin/agregar-categoria">+Agregar Categoria</a>
      <hr>
    </div>
    <div class="row">
      <input placeholder="Buscar Categorias" [(ngModel)]="term">
    </div>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="col-4">Nombre</th>
            <th scope="col" class="col-6">Descripcion</th>
            <th scope="col" class="col-1 text-center">Modificar</th>
            <th scope="col" class="col-1 text-center">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let categoria of categorias | filter:term">
            <td>{{categoria.nombre}}</td>
            <td>{{categoria.descripcion}}</td>
            <td class="text-center"><a><i routerLink="/admin/editar-categoria/{{categoria.id}}" class="fa fa-pencil"></i></a>
            </td>
            <td class="text-center"> <a (click)="borrarRegistro(categoria.id)"><i class="fa fa-trash"></i></a></td>
          </tr>
        </tbody>
      </table>
      <p *ngIf="categorias.length == 0" class="text-center">No hay registros para mostrar</p>
    </div>
  </div>
</div>