<div class="row contenedor-principal" >
  <div class="col-2 side-bar">
     <app-nav-bar></app-nav-bar>
  </div>
  <div class="col-10 contenedor-secundario">
      <div class="row">
          <span >LISTA DE TAREAS</span>
      </div>
      <div class="row"  >
          <a routerLink="/admin/agregar-tickets" class="atajo" >+Agregar Ticket</a>
          <hr >
      </div>
      <div class="row" >
          <input type="search" class="form-control" placeholder="Buscar Tareas" [(ngModel)]="term">
      </div>
      <div class="row" >
          <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="col-2">Categoria</th>
                  <th scope="col" class="col-6">Descripcion</th>
                  <th scope="col" class="col-2">Estado</th>
                  <th scope="col" class="col-1 text-center">Modificar</th>
                  <th scope="col" class="col-1 text-center" >Eliminar</th>
                </tr>
              </thead>
              <tbody >
                <tr *ngFor="let ticket of tickets | filter:term">
                  <td>{{ ticket.categoria.nombre }}</td>
                  <td>{{ ticket.descripcion }}</td>
                  <td>{{ ticket.estado }}</td>
                  <td class="text-center"><a><i routerLink="/admin/editar-ticket/{{ticket.id}}" class="fa fa-pencil" ></i></a></td>
                  <td class="text-center"> <a  (click)="borrarRegistro(ticket.id)"><i class="fa fa-trash" ></i></a></td>
                </tr>
              </tbody>
            </table>
            <p *ngIf="tickets.length == 0" class="text-center">No hay registros para mostrar</p>
      </div>
  </div>
</div>
