<div class="form-container p-2">
    <div class="form-btn">
        <h3 style="color: white;">Iniciar Sesion</h3>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <input type="email" name="" formControlName="identifier" placeholder="Email">
        <app-print-error [control]="loginForm.controls['identifier']"></app-print-error>
        <input type="password" name="" formControlName="password" placeholder="Contraseña">
        <app-print-error [control]="loginForm.controls['password']"></app-print-error>
        <input type="submit" nombre="" class="btn" name="Iniciar Sesion" placeholder="Iniciar Sesion" >

        <p class="text-center" style="color: white;">Haz click <a [routerLink]="['/auth', 'recover']">aquí</a> para recuperar tu contraseña</p>
    </form>
</div>

<footer>
<div class="footer" style="position: fixed; bottom: 0;">
    <p style="text-align: center;">Ingenieria de Software 2021 © </p>
</div>
</footer>
