<div class="row contenedor-principal">
  <div class="col-2 side-bar">
    <app-nav-bar></app-nav-bar>
  </div>
  <div class="col-10 contenedor-secundario">
    <div class="row">
      <span >LISTA DE EMPLEADOS</span>
    </div>
    <div class="row">
      <a class="atajo" routerLink="/admin/agregar-empleados">+Agregar Empleado</a>
      <hr>
    </div>
    <div class="row">
      <input type="search"  class="form-control" placeholder="Buscar Empleado" [(ngModel)]="term">
    </div>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="col-4">Nombre</th>
            <th scope="col" class="col-6">Correo</th>
            <th scope="col" class="col-1 text-center">Modificar</th>
            <th scope="col" class="col-1 text-center">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empleado of empleados | filter:term;">
            <td (click)="mostrarInformacion(empleado.id)">{{empleado.username}}</td>
            <td>{{empleado.email}}</td>
            <td class="text-center"><a><i routerLink="/admin/editar-empleado/{{empleado.id}}" class="fa fa-pencil"></i></a></td>
            <td class="text-center"> <a (click)="borrarRegistro(empleado.id)"><i class="fa fa-trash"></i></a></td>
          </tr>
        </tbody>
      </table>
      <p *ngIf="empleados.length == 0" class="text-center">No hay registros para mostrar</p>
    </div>
    <div class="container-fluid" *ngIf="mostrar">
      <div class="col-12">
        <div class="row">
          <a (click)="mostrar=false">X</a>
        </div>
        <div class="row adicional" *ngFor="let empleado of empleadoinfo;">
          <h4>{{empleado.username}}</h4>
          <h6>ID: {{empleado.id}}</h6>
          <h6 class="text-right">{{empleado.email}}</h6>
          <hr>
          <p>TICKETS ASIGNADOS: {{tickets.length}}</p><br>
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="col-8">Descripcion</th>
                <th scope="col" class="col-4">Fecha Limite</th>
              </tr>
            </thead>
            <tbody *ngFor="let ticket of tickets;">
              <tr>
                <td >{{ticket.descripcion}}</td>
                <td >{{ticket.fechaLimite | date:'medium'}}</td>
              </tr>
              <tr>
                <!-- <td *ngIf="empleado.tickets[1]">{{empleado.tickets[1].descripcion}}</td>
                <td *ngIf="empleado.tickets[1]">{{empleado.tickets[1].fechaLimite | date:'medium'}}</td>
                <td *ngIf="empleado.tickets[1]">{{empleado.tickets[1].estado}}</td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
