<div class="row contenedor-principal">
    <div class="col-2 side-bar">
        <app-nav-bar></app-nav-bar>
    </div>
    <div class="col-10 contenedor-secundario" >
        <div class="row" >
            <span >EDITAR CATEGORIAS</span>
        </div>
        <div class="row" >
            <a  routerLink="/admin/categorias" >-Listar categorias</a>
            <hr>
        </div>
        <div class="container-fluid">
            <form [formGroup]="updateCatForm" (ngSubmit)="onSubmit()">
                <label class="form-label">Insertar Nueva Catgoria</label><br>
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" formControlName="catNombre">
                <app-print-error [control]="updateCatForm.controls['catNombre']"></app-print-error>
                <label class="form-label">Description</label>
                <input type="text" class="form-control" formControlName="catDescripcion"><br>
                <app-print-error [control]="updateCatForm.controls['catDescripcion']"></app-print-error>
                <input type="submit" nombre="" class="btn btn-dark" name="Agregar">
            </form>

        </div>
    </div>
</div>
