<div class="row contenedor-principal" >
    <div class="col-2 side-bar" >
       <app-nav-bar></app-nav-bar>
    </div>
    <div class="col-10 contenedor-secundario">
        <div class="row" >
            <span >EDITAR TICKET</span> 
        </div>
        <div class="row" >
            <a routerLink="/admin/tickets" >-Listar Tickets</a>
            <hr >
        </div>
        <div class="container-fluid">
        <form [formGroup]="updateTicketForm" (ngSubmit)="onSubmit()">
            <label class="form-label">Descripcion</label>
            <input type="text" formControlName="descripcion" class="form-control">
            <label class="form-label">Fecha Limite</label>
            <input type="date" class="form-control" formControlName="date">
            <label class="form-label">Estado</label><br>
            <select formControlName="estado">
                <option value="completado">completado</option>
                <option value="asignado">asignado</option>
                <option value="creado">creado</option>
            </select><br>
            <label class="form-label">Categoria</label><br>
            <select formControlName="categoria">
                <option *ngFor="let categoria of categorias" value={{categoria.id}}>{{categoria.nombre}}</option>
            </select><br>
            <label class="form-label">Empleado</label><br>
            <select formControlName="usr">
                <option *ngFor="let empleado of empleados" value={{empleado.id}}>{{empleado.username}}</option>
            </select><br><br>
            <input type="submit" nombre="" class="btn btn-dark" name="Agregar">
        </form>
    </div>
    </div>
</div>