<div class="form-container p-2">
  <div class="form-btn">
      <h3 style="color: white;">Reiniciar contraseña</h3>
  </div>
  <p class="text-center" style="color: white;">Enviaremos un email a la dirección email asociada a tu cuenta para recuperar tu contraseña.</p>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input type="password" name="" formControlName="password" placeholder="Nueva contraseña">
      <app-print-error [control]="form.controls['password']"></app-print-error>
      <input type="password" name="" formControlName="passwordConfirmation" placeholder="Confirmar nueva contraseña">
      <app-print-error [control]="form.controls['passwordConfirmation']"></app-print-error>

      <!-- <div style='color:#ff7355' *ngIf="form.get(['passwords','password']) && form.get(['passwords','password']).value != form.get(['passwords','confirm_password']).value && form.get(['passwords','confirm_password']).value != null">
        Password does not match</div> -->

      <input type="submit" nombre="" class="btn" name="Reestablecer contraseña" >
  </form>


</div>

<footer>
  <div class="footer" style="position: fixed; bottom: 0;">
    <p style="text-align: center;">Ingenieria de Software 2021 © </p>
  </div>
</footer>
