<div class="row contenedor-principal">
    <div class="col-2 side-bar">
        <app-nav-bar></app-nav-bar>
    </div>
    <div class="col-10 contenedor-secundario">
        <div class="row">
            <span>AGREGAR EMPLEADOS</span>
        </div>
        <div class="row">
            <a style="text-align: right; font-size: small; padding: 0; text-decoration: none;"
                routerLink="/admin/empleados">-Listar Empleados</a>
            <hr>
        </div>
        <div class="container-fluid">
            <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
                <label class="form-label">Nombre</label>
                <input type="text" placeholder="Nombre" formControlName="user" class="form-control">
                <app-print-error [control]="addUserForm.controls['user']"></app-print-error>
                <label class="form-label">Correo</label>
                <input type="email" placeholder="Correo" class="form-control" formControlName="email">
                <app-print-error [control]="addUserForm.controls['email']"></app-print-error>
                <label class="form-label">Contraseña</label>
                <input type="password" placeholder="Contraseña" class="form-control" formControlName="pass">
                <app-print-error [control]="addUserForm.controls['pass']"></app-print-error><br>
                <label class="form-label">Rol</label><br>
                <select formControlName="role">
                    <option value="">Seleccionar un rol...</option>
                    <option value="3">Empleado</option>
                    <option value="1">Administrador</option>
                </select><br><br>

                <app-print-error [control]="addUserForm.controls['role']"></app-print-error>
                <input type="submit" nombre="" class="btn btn-dark" name="Agregar">
            </form>
        </div>
    </div>
</div>
