<div class="row">
    <div class="col-2" style="margin: 0; padding: 0; max-height: 100vh; height: 100vh; background-color: #797C95; ">
        <app-nav-bar></app-nav-bar>
    </div>
    <div class="col-10" style="background-color: #E6E6E6; ">
        <div class="row" style="width: 95%; margin: auto;">
            <span style="padding: 1em 0 0 0;">AGREGAR Categorias</span>
        </div>
        <div class="row" style="width: 95%; margin: auto;">
            <a style="text-align: right; font-size: small; padding: 0; text-decoration: none;" routerLink="/admin/categorias" >-Listar categorias</a>
            <hr>
        </div>


        <div class="container-fluid"
            style="border: solid #707070 2px; border-style: solid; max-height: 650px; height: 250px; max-width: 75%; margin-top: 10px;">
            <form [formGroup]="addCatForm" (ngSubmit)="onSubmit()">
                <label class="form-label">Insertar Nueva Catgoria</label><br>
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" formControlName="catNombre">
                <label class="form-label">Description</label>
                <input type="text" class="form-control" formControlName="catDescripcion"><br>
                <input type="submit" nombre="" style="display: inline-block; background: #E6E6E6;" name="Agregar">
            </form>

        </div>
    </div>
</div>