<div class="row contenedor-principal">
    <div class="col-2 side-bar">
        <app-nav-bar></app-nav-bar>
    </div>
    <div class="col-10 contenedor-secundario">
        <div class="row">
            <span>AGREGAR CATEGORIAS</span>
        </div>
        <div class="row">
            <a routerLink="/admin/categorias">-Listar Categorias</a>
            <hr>
        </div>
        <div class="container-fluid">
            <form [formGroup]="addCatForm" (ngSubmit)="onSubmit()">
                <label class="form-label">Insertar Nueva Catgoria</label><br>
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" formControlName="catNombre">
                <label class="form-label">Description</label>
                <input type="text" class="form-control" formControlName="catDescripcion"><br>
                <input type="submit" nombre="" class="btn btn-dark" name="Agregar">
            </form>
        </div>
    </div>
</div>